{% extends ':front:layout.html.twig' %}
{% block body %}
    <section id="profil">
        <h1><span class="glyphicon glyphicon-user"></span> Inscription</h1>
        <div class="mes-infos">
            <h2>Mes informations</h2>
            {% block fos_user_content %}
                {% trans_default_domain 'FOSUserBundle' %}
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
                
            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock %}