body{background-color: whitesmoke;}
.vehicule-image img{max-width: 250px;}
.vehicule {padding: 30px 0 40px 0;border-bottom: 1px solid lightgray;}
.vehicule .vehicule-infos > span{display: block;}
.vehicule .vehicule-infos .nom{text-transform: uppercase;font-size: 1.5em;font-weight: bold;color: slategray;margin-bottom: 10px;}
.vehicule .vehicule-infos .prix {font-size: 1.3em;margin-top: 10px;text-align: right;}
.vehicule .vehicule-infos .prix b {font-size: 1.8em;font-weight: bold;color: darkred;}
.vehicule .vehicule-resa a.resa-btn {background-color: #ca181a;text-transform: uppercase;font-weight: bold;text-align: center;color: #FFFFFF;font-size: 1.2em;line-height: 50px;display: block;height: 50px;width: 80%;margin: 20px auto;}
.vehicule .vehicule-resa a.resa-btn:hover {background-color: #aa141e;}
h1 {font-size: 2em;margin-left: 50px;}
h2 {font-size: 1.7em;}
.mes-infos{margin-left: 100px;}
.mes-infos > span{display: block;margin: 4px 0;}
.mes-infos > span b{color: darkolivegreen;}
.mes-infos a.modifier-btn, .mes-infos input[type=submit], #profil a.retour{background-color: darkolivegreen;text-transform: uppercase;font-weight: bold;text-align: center;color: #FFFFFF;font-size: 1.2em;line-height: 45px;display: inline-block;height: 45px;padding: 0 20px;margin: 20px auto;border: none;}
.mes-infos a.modifier-btn:hover, .mes-infos input[type=submit]:hover, #profil a.retour:hover {background-color: #34421b;text-decoration: none;}
.retour{float: right;margin-right: 50px;}
.mes-infos > form > div, .mes-infos > form > #fos_user_change_password_form > div, .mes-infos > form > #fos_user_registration_form > div  {padding: 2px 0;}
.mes-infos form label{color: darkolivegreen;margin-right: 15px;}
.mes-infos form input, .mes-infos form select {padding: 3px 5px;}
.header-image{position: relative;margin-top: -20px;}
.header-image img{width: 100%}
#module-de-recherche > div {display: inline-block;}
#module-de-recherche {width: 800px; margin: -66px auto 0px auto;position: relative;bottom: 0;min-height: 95px;}
#module-de-recherche .daterangepicker.openscenter:after,#module-de-recherche .daterangepicker.openscenter:before{ left: -45px; }
#module-de-recherche form .barre{padding : 15px 0;text-align: center;background-color: #1a1103;background-color: rgba(26,17,3,.9);}
#module-de-recherche label{color: #FFFFFF;padding: 0 5px 0 15px;}
#module-de-recherche input{padding: 5px;}
#module-de-recherche select{height: 34px;padding: 0 15px;background: #FFFFFF;}
#module-de-recherche button[type=submit]{height: 36px;border: none;display: inline-block;padding: 0 25px;text-transform: uppercase;color: #FFFFFF;font-weight: bold;background: #ca181a;}
#module-de-recherche button[type=submit]:hover{background-color: #aa141e;}
#module-de-recherche .daterangepicker {top: 50px!important;left: 0px!important;position: absolute!important;background-color: #1a1103;background-color: rgba(26,17,3,.9);border-radius: 0;}
#module-de-recherche .daterangepicker td.disabled,#module-de-recherche .daterangepicker option.disabled {text-decoration: none;}
#module-de-recherche .daterangepicker td.active,#module-de-recherche .daterangepicker td.active:hover {background: #ca181a;}
#module-de-recherche .daterangepicker td.active.off, #module-de-recherche .daterangepicker td.active.off:hover {background: none;}
#module-de-recherche .daterangepicker .calendar.left .daterangepicker_input, #module-de-recherche .daterangepicker .calendar.right .daterangepicker_input{display: none;}
#module-recherche-options{display: block!important;padding: 20px;position: relative;border: 1px solid lightgrey;}
#module-recherche-options.hide{display: none!important;}
#module-de-recherche #plus-options {position: absolute;top: 75px;right: 15px;font-size: 0.9em;cursor: pointer;z-index: 999;}
#module-recherche-options #plus-options:hover{cursor: pointer;text-decoration: underline;}
#module-recherche-options .par-prix{width: 240px;display: inline-block;}
#module-recherche-options .par-vehicule {margin-left: 125px;display: inline-block;vertical-align: bottom;}
.select-price{ padding-bottom: 5px;}
.select-price #min-select{display: inline-block;width: 120px;padding-left: 5px;text-align: left;}
.select-price #max-select{display: inline-block;width: 120px;padding-right: 5px;text-align: right;}

/* style fiche vehicule */
.ficheBanniere img {
    width: 300px;
}

#labelListeVehicule {
    text-align: center;
    font-size: 4em;
    color: darkred;
    font-style: italic;
    text-decoration: underline darkred;
}

.ficheBanniere .ficheModele {
    font-size: 6em;
    text-align: center;
    color: darkred;
    font-style: italic;
}

.ficheInfos {
    font-size: 1.2em;
    text-align: center;
    position: relative;
}

.ficheInfosMini {
    border: 1px solid grey;
}

.ficheDispo {
    position: absolute!important;
    right:0;
    bottom: 0;
    font-size: 1.2em;
    text-align: center;
}

.prixFiche {
    font-size: 1.4em;
    color: darkred;
}

#daterangepicker-list-vehicule {
    position:relative;
    margin-bottom: 375px;
}

#daterangepicker-list-vehicule .calendar.right {
    position: absolute;
    right:0;
}
#daterangepicker-list-vehicule .daterangepicker.dropdown-menu.ltr.show-calendar.openscenter {
    display: block!important;
    top: 45px!important;
    width: 70%!important;
    left: 50%!important;
    margin-left: -35%;
}

#daterangepicker-list-vehicule .daterangepicker.dropdown-menu.ltr.show-calendar.openscenter.calendar-table th td {
    min-width: 200px;
}

#daterangepicker-list-vehicule .calendar.left {
    max-width: none;
    width: 48%;
}

#daterangepicker-list-vehicule .calendar.right {
    max-width: none;
    width: 48%;
}

.submit-liste-vehicule {
    height: 36px;
    display: block;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: bold;
    background: white;
    color: darkred;
    margin:auto;
    width: 30%;
    border: 1px solid darkred;
}

.submit-liste-vehicule:hover {
    background: darkred;
    color: white;
}

.daterangepicker td.active, .daterangepicker td.active {
    background-color: darkred;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: darkred!important;
}

.daterangepicker .input-mini.active {
    border: 1px solid darkred!important;
}

.datePickerContainer {
    margin-top: 50px;
}


/* FOOTER */
#footer {
    height: 120px;
    background-color: darkred;

}