<header>


        <nav >
            <ul class="nav nav-pills nav-justified">
                <li class="presentation">
                    <a>Accueil</a>
                </li>
                <li class="presentation">
                    <a>Location</a>
                </li>
                <li class="presentation">
                    <a>Un problème ? </a>
                </li>
                <li class="presentation">
                    <a>Connexion</a>
                </li>
            </ul>
        </nav>
    </div>
</header>